.ab
{
    position:relative;
    margin-top:40px;
padding:20px;
background-color:black;
height:3000px;
 max-height:600px;
} 

li a
{

display:block;
color:blue;
text-align:center;
padding:14px 16px;
text-decoration:none;

}

li a:hover:not(.active){
   background-color:grey; 
}