<div class="abc">
  <ul class="list">
  <li type=none *ngFor="let ar of maindata, index as idd"  >
   <button type="button" (click)="onselect(idd)"  >{{ar.Tname}}</button>
   <br>
   <br>
   <br>
  </li>
  <button (click)="onadd(tid.value,tna.value,na.value,em.value,in.value);tid.value='';tna.value='';na.value='';em.value='';in.value='' ">Add new Members</button>
<button (click)="delmul()">delete selected items</button>
<br>
<br>
<input tid placeholder="enter team id">
  <input #tna placeholder="enter team name">
  <input #na placeholder="enter name">
 <input #em placeholder="enter email">
 <input #in placeholder="enter id">
 <br>
 <br>
  </ul>
  </div> 


 
 
<hero-detail  [gtdata]="MemberData" ></hero-detail>


